@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeee;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.o-main-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.o-card {
  max-width: 30%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 25px;
  background-color: #ffffff;
  font-family: sans-serif;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5);
}

.o-username {
  font-family: "Roboto";
  font-weight: bold;
}

.o-data-text {
  font-family: "Roboto";
  font-weight: 400;
}

.o-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 5rem 0;
  background-color: #212121;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.o-img-container img {
  max-width: 30%;
  padding: 10px;
}
